name: Frontend CI

on:
  push:
    paths:
      - frontend/**
  pull_request:
    paths:
      - frontend/**

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: "Install dependencies"
        run: npm ci
        working-directory: "./frontend"
      - name: "Check Prettier formatting"
        run: npm run format:check
        working-directory: "./frontend"
      - name: "Check linting"
        run: npm run lint:check
        working-directory: "./frontend"
      - name: "Build"
        run: npm run build
        working-directory: "./frontend"
